/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #003366;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px;
}

nav button {
    background-color: #005a8b;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background-color: #00496b;
}

/* Calendário Semanal */
.calendar-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #222222;
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
}

.calendar-week {
    display: flex;
    justify-content: space-between;
}

.day {
    width: 13%;
    background-color: #333;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: white;
}

.day h3 {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Calendário Mensal */
.month-view {
    margin-top: 20px;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

/* Barra de Progresso */
.progress-container {
    margin-top: 30px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #444;
    position: relative;
    border-radius: 10px;
}

.progress-bar div {
    height: 100%;
    background-color: #003366;
    width: 0;
    border-radius: 10px;
}

/* Estilo para a Página de Objetivos */
.goal-editor {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #005a8b;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #00496b;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #003366;
}

tr:hover {
    background-color: #444;
}